api/node_modules
legacy/node_modules
legacy/angular-cli.json
legacy/package.json
.idea/SpeedJob.iml
.idea/jsLibraryMappings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/*
api/config.js
front-legacy/
