/* You can add global styles to this file, and also import other style files */
body {
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.mt20 {
    margin-top: 20px;
}

.routing_box {
    user-select: none;
    text-align: center;
    font-size: 16px;
}

.routing_box a {
    text-decoration: none;
}


